*{
    margin: 0px;
    padding: 0px;
}
/*debut CSS header*/
nav{
    width: 100%;
    margin: 0 auto;
    top: 0px;
    background-color:black;
}

nav ul{
    list-style-type: none;
}

header nav ul li{
    float: left;
    width: 15%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}
nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: rgb(151, 38, 18);
    border-bottom: 2px solid rgb(151, 38, 18);
    
}
.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: black;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}
.conteneur{
  margin: 50px 20px;
  height: 1500px;
}
header{
    background-color:black;
    color:white;
    border: inset 5px rgb(219, 5, 5);

}
.nouveaute{
    text-align: center;
    color:rgb(151, 38, 18);
}

button img {
    width:14px;
}
input{
    margin-top:10px;
    width:250px;
}
.reseaux{
    width:45px;
}
.reseaux:hover{
    transform: rotate(20deg);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
h1{
    text-align: center;
}
/*fin CSS header*/

/*debut CSS main*/

body
{
    background-image: radial-gradient(closest-side ellipse at center, #102264, black);
}
h2{
    color:white;
    text-align:center;
    padding-top:15px;
    padding-bottom:15px;
}
video{
    width:50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.wrapper{
    display:grid;
    grid-template-columns: repeat(6,1fr);
}
.box1{
    grid-column-start: 1;
    color:white;
    font-size:25px;
    border:solid 2px red;
    border-radius: 5px;
    margin-left:auto;
    margin-right:auto;
    padding:5px;
}
.box2{
    grid-column-start: 3;
    color:white;
    font-size: 15px;
}
.box3{
    grid-column-start:6;
    font-size:25px;
    color:white;
    border:solid 2px red;
    border-radius: 5px;
    margin-left:auto;
    margin-right:auto;
    padding:5px;
}
a{
    text-decoration: none;
}