*{
    margin: 0px;
    padding: 0px;
}
/*debut CSS header*/
nav{
    width: 100%;
    margin: 0 auto;
    top: 0px;
    background-color:black;
}

nav ul{
    list-style-type: none;
}

header nav ul li{
    float: left;
    width: 15%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}
nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: rgb(151, 38, 18);
    border-bottom: 2px solid rgb(151, 38, 18);
    
}
.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: black;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}
.conteneur{
  margin: 50px 20px;
  height: 1500px;
}
header{
    background-color:black;
    color:white;
    border: inset 5px rgb(219, 5, 5);

}
.nouveaute{
    text-align: center;
    color:rgb(151, 38, 18);
}

button img {
    width:14px;
}
input{
    margin-top:10px;
    width:250px;
}
.reseaux{
    width:45px;
}
.reseaux:hover{
    transform: rotate(20deg);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
h1{
    text-align: center;
    color:white;
}
/*fin CSS header*/

/*Debut CSS main*/

video{
    width:50%;
}
body
{
    background-image: radial-gradient(closest-side ellipse at center, #102264, black);
}
section h2{
    text-align: left;
    color:rgb(151, 38, 18);
    float:left;
}
img{
    width:60%;
    
}
p{
    float:left;
    color:white;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
}
  .box1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    padding-top:25px;
  }
  .box2 {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-template-columns:repeat(3,1fr);
    padding-top:25px;
  }
  * {box-sizing: border-box;}
  
  
  .box6{
      display:grid;
      grid-template-columns: repeat(2,1fr);
  }
  .box4{
      color:white;
      text-align:center;
      border-bottom:solid 2px red;
      border-left:solid 2px red;
      margin-left:5px;
      padding-bottom:2px;
  }
  .box5{
      color:white;
      margin-left:5px;
      border-bottom:solid 2px red;
      border-left:solid 2px red;
      padding-bottom:5px;
      padding-left:5px;
      margin-top:15px;
  }
  .box7{
    color:white;
    margin-left:5px;
    margin-top:15px;
    border-bottom:solid 2px red;
    border-left:solid 2px red;
    padding-left:5px;
}
.box8{
    color:white;
    margin-top:15px;
    border-bottom:solid 2px red;
}
.box9{
    grid-row-start: 1;
    grid-row-end: 4;
    padding-left:5px;
    margin-top:25px;
    margin-left:200px;
    padding:1em;

}
.box11{
    grid-row-start: 1;
    grid-row-end: 4;
    padding-left:5px;
    margin-top:25px;
    margin-right:200px;
    padding:1em;
}
.box13{
    display:grid;
    grid-column-start: 1;
    grid-row-start: 2;
    margin-left:5px;
    border-bottom:solid 2px red;
    border-left:solid 2px red;
    padding-left:5px;
    margin-top:15px;
    color:white;
}
.like{
    width:25%;
}

.nested {
    border: 2px solid #102264;
    border-radius: 5px;
    background-color: #ffffff;
    margin:1px;
}
h2{
    color:white;
    text-align: center;
    padding-top:15px;
}
video{
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-top:15px;
}
a{
    text-decoration:none;
}
.commentaire{
  text-align: center;
  margin-top:20px;
}
.commentaire input{
    width:50%;
}
.commentaire label{
    color:white;
}
