@media(min-width: 768px) and (max-width: 1388px)

{
    header{
     width: 120%;
     padding-right: 0px;
    }

    main{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: auto;
    }
    .h2{
        display:grid;
        grid-column:1;
        grid-row:1;
        padding-top:50px;
    }
    .grille{
        display: grid;
        grid-column: 1;
        grid-row: 2;
        padding-top:50px;
        margin:auto;
    }
    .grille2{
        display: grid;
        grid-column: 2;
        grid-row: 2;
        padding-top:50px;
        margin:auto;
    }
    .grille3{
        display: grid;
        grid-column: 3;
        grid-row: 2;
        padding-top:50px;
        margin:auto;
    }
    .grille4{
        display: grid;
        grid-column: 4;
        grid-row: 2;
        padding-top:50px;
        margin:auto;
    }
    .grille5{
        display: grid;
        grid-column: 1;
        grid-row: 3;
        padding-top:50px;
        margin:auto;
    }
    .grille6{
        display: grid;
        grid-column: 2;
        grid-row: 3;
        padding-top:50px;
        margin:auto;
    }
    .grille7{
        display: grid;
        grid-column: 3;
        grid-row: 3;
        padding-top:50px;
        margin:auto;
    }
}


