@media(min-width: 768px) and (max-width: 1431px)

{
    header{
     width: 120%;
     padding-right: 0px;
    }
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
}
  .box1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    padding-top:25px;
  }
  .box2 {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-template-columns:repeat(3,1fr);
    padding-top:25px;
  }
  * {box-sizing: border-box;}
  
  
  .box6{
      display:grid;
      grid-template-columns: repeat(2,1fr);
  }
  .box4{
      color:white;
      text-align:center;
      border-bottom:solid 2px red;
      border-left:solid 2px red;
      margin-left:5px;
      padding-bottom:2px;
  }
  .box5{
      color:white;
      margin-left:5px;
      border-bottom:solid 2px red;
      border-left:solid 2px red;
      padding-bottom:5px;
      padding-left:5px;
      margin-top:15px;
  }
  .box7{
    color:white;
    margin-left:5px;
    margin-top:15px;
    border-bottom:solid 2px red;
    border-left:solid 2px red;
    padding-left:5px;
}
.box8{
    color:white;
    margin-top:15px;
    border-bottom:solid 2px red;
}
.box9{
    grid-row-start: 1;
    grid-row-end: 4;
    padding-left:5px;
    margin-top:25px;
    margin-left:200px;
    padding:1em;

}
.box11{
    grid-row-start: 1;
    grid-row-end: 4;
    padding-left:5px;
    margin-top:25px;
    margin-right:200px;
    padding:1em;
}
.box13{
    display:grid;
    grid-column-start: 1;
    grid-row-start: 2;
    margin-left:5px;
    border-bottom:solid 2px red;
    border-left:solid 2px red;
    padding-left:5px;
    margin-top:15px;
    color:white;
}
video{
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-top:15px;
}
#ba{
    color:white;
    text-align: center;
    padding-top:325px;
}
}   