@media(min-width: 768px) and (max-width: 1388px)

{
    header{
     width: 120%;
     padding-right: 0px;
}
    .wrapper{
        grid-template-rows: repeat(1,1fr);
}
    .box1{
        grid-column-start:1;
        grid-row-start: 1;
        margin-right:auto;
        margin-left:auto;
        padding-top:5px;
}
    .box2{
        grid-column-start:1;
        grid-row-start: 2;
        border-left:solid 2px red;
        border-bottom:solid 2px red;
        padding-left:5px;
        padding-bottom:5px;
        margin-right:auto;
        margin-left:auto;
        padding-top:10px;
}
    .box3{
        grid-column-start:1;
        grid-row-start: 3;
        margin-right:auto;
        margin-left:auto;
        padding-top:5px;
    
}
    .box4{
        grid-column-start:1;
        grid-row-start: 4;
        border-left:solid 2px red;
        border-bottom:solid 2px red;
        padding-left:5px;
        padding-bottom:5px;
        margin-right:auto;
        margin-left:auto;
        padding-top:10px;
}
    .box5{
        grid-column-start:1;
        grid-row-start: 5;
        margin-right:auto;
        margin-left:auto;
        padding-top:5px;
    
}
    .box6{
        grid-column-start:1;
        grid-row-start: 6;
        border-left:solid 2px red;
        border-bottom:solid 2px red;
        padding-left:5px;
        padding-bottom:5px;
        margin-right:auto;
        margin-left:auto;
        padding-top:10px;
}
}

