*{
    margin: 0px;
    padding: 0px;
}
/*debut CSS header*/
nav{
    width: 100%;
    margin: 0 auto;
    top: 0px;
    background-color:black;
}

nav ul{
    list-style-type: none;
}

header nav ul li{
    float: left;
    width: 15%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}
nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: rgb(151, 38, 18);
    border-bottom: 2px solid rgb(151, 38, 18);
    
}
.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: black;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}
.conteneur{
  margin: 50px 20px;
  height: 1500px;
}
header{
    background-color:black;
    color:white;
    border: inset 5px rgb(219, 5, 5);

}
.nouveaute{
    text-align: center;
    color:rgb(151, 38, 18);
}

button img {
    width:14px;
}
input{
    margin-top:10px;
    width:250px;
}
.reseaux{
    width:45px;
}
.reseaux:hover{
    transform: rotate(20deg);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
h1{
    text-align: center;
    color:white;
}
/*fin CSS header*/

/*Debut CSS main*/

body
{
    background-image: radial-gradient(closest-side ellipse at center, #102264, black);
}
main{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: auto;
    
}
main h2{
    display:grid;
    grid-column:1;
    grid-row:1;
    padding-top:50px;
    font-size:40px;
}
.grille{
    display: grid;
    grid-column: 1;
    grid-row: 2;
    padding-top:50px;
    margin:auto;
    
}

.grille2{
    display: grid;
    grid-column: 2;
    grid-row: 2;
    padding-top:50px;
    margin:auto;
}
.grille3{
    display: grid;
    grid-column: 3;
    grid-row: 2;
    padding-top:50px;
    margin:auto;
}
.grille4{
    display: grid;
    grid-column: 4;
    grid-row: 2;
    padding-top:50px;
    margin:auto;
}
.grille5{
    display: grid;
    grid-column: 5;
    grid-row: 2;
    padding-top:50px;
    margin:auto;
}
.grille6{
    display: grid;
    grid-column: 6;
    grid-row: 2;
    padding-top:50px;
    margin:auto;
}
.grille7{
    display:grid;
    grid-column:7;
    grid-row:2;
    padding-top:50px;
    margin:auto;
}
.cadre{
    width: 250px;
    height: 400px;
    margin:auto;
    background: #000;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    filter : brightness(85%);
    background-size: cover; 
}
.cadre:hover{
    filter : brightness(100%);
}

.cadre .poster{
    overflow: hidden;
}

.cadre .poster:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    letter-spacing: 1px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #000 20%, transparent);
    transition: 0.5s;
    z-index: 1;
}
.cadre .poster img{
    width: 100%;
}


.details{
    position: absolute;
    padding: 20px;
    width: 100%;
    height: 70%;
    left: 0;
    bottom: -180px;
    box-sizing: border-box;
    transition: 0.75s;
    z-index: 2;
}
.details2{
    position: absolute;
    padding: 20px;
    width: 100%;
    height: 70%;
    left: 0;
    bottom: -180px;
    box-sizing: border-box;
    transition: 0.75s;
    z-index: 2;
}
.details3{
    position: absolute;
    padding: 20px;
    width: 100%;
    height: 70%;
    left: 0;
    bottom: -150px;
    box-sizing: border-box;
    transition: 0.75s;
    z-index: 2;
}

.cadre:hover .details{
    bottom: 0;
}
.cadre:hover .details2{
    bottom: 0;
}
.cadre:hover .details3{
    bottom: 0;
}
.details h2{
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 23px;
    text-transform: uppercase;
}
.details2 h2{
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 23px;
    text-transform: uppercase;
}
.details3 h2{
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 23px;
    text-transform: uppercase;
}


.tags{
    position: relative;
    margin-top: 5px;
    color: #fff;
    display: inline-block;
}

.tags span{
padding: 2px 5px;
border-radius: 10px;
}

.tags span.logo1{
    background: #7206f7;
}

.tags span.logo2{
    background: #f70661;
}

.info{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
}
.info p{
    margin: 10px 0 3px; 
}

.star{
    position: relative;
}

.star h4{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #ff9800;
}

.star ul{
    margin: 10px 0 0;
    padding: 0;
    display: flex;
}

.star ul li{
    list-style: none;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    border: solid 2px #fff;
    margin-right: 5px;
}
.star ul li img{
    width: 100%;
}
.recommendations{
    text-align: center;
    color:rgb(151, 38, 18);
    display:grid;
    grid-column: 1;
    grid-row:3;
    
}
a{
    text-decoration: none;
}